<!DOCTYPE html>
<html>
  <head>
    <title>小事亭生鮮超市倉儲</title>
    <!-- <link rel='stylesheet' href='/stylesheets/list.css' /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="../main">小事亭生鮮超市</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="../main">首頁</a></li>
                <li class="active"><a href=".store">倉儲  </a></li>
                <li><a href="./import">進貨表單<span class="sr-only">(current)</span></a></li>
                <li><a href="./discount">優惠區</a></li>
            </ul>
            
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:50px">
    <table class="table table-hover">
        <tr>
        <th>商品名</th>
        <th>成本</th>
        <th>價格</th>
        <th>貨量</th>
        <th>進貨日</th>
        <th>到期日</th>
        <th>促銷天數</th> 
        <th>狀態</th>
        <th>操作</th>
        </tr>
        <% for (var i = 0; i < items.length; i++){ 
            var sell = Math.floor(items[i].price * (1+1.8)); %>
        <tr>
            <td><%= items[i].item %></td>
            <td><%= items[i].price %></td>
            <td><%= sell %></td>
            <td><%= items[i].num %></td>
            <td><%= items[i].importdate %></td>
            <td><%= items[i].duedate %></td>
            <td><%= items[i].promoteday %></td>
            <% 
            var d1 = new Date(items[i].duedate);
            var d2 = new Date();
            var dayOfHours = d2.getHours();
            d2.setHours(dayOfHours + 8);
            var interval = (d1.getTime() - d2.getTime()) /1000 /60 /60 /24;
            if(interval < 0){
                %><td>超過有效期限！</td><%
            }else if(interval <= items[i].promoteday) {
                %><td>特價中！</td><%;
            }else{
                %><td>販售中！</td><%
            }
            %>
            <td>
                <form method="POST" action="/storage/<%= items[i].id %>/delete">
                    <button class="btn btn-danger">刪除</button>
                </form>
            </td>	
         </tr>
         <% } %>
    </table>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script>
  </body>
</html>